{
    "openapi": "3.0.3",
    "info": {
      "title": "Kit API",
      "version": "4.0"
    },
    "servers": [
      {
        "url": "https://api.kit.com"
      }
    ],
    "paths": {
      "/v4/account": {
        "get": {
          "summary": "Get current account",
          "tags": [
            "Accounts"
          ],
          "security": [
            {
              "OAuth2": []
            },
            {
              "API Key": []
            }
          ],
          "parameters": [
            {
              "name": "Authorization",
              "in": "header",
              "required": true,
              "schema": {
                "type": "string"
              },
              "example": "Bearer YOUR_ACCESS_TOKEN_HERE"
            }
          ],
          "responses": {
            "200": {
              "description": "Returns current account and user info",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "user": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "email"
                        ]
                      },
                      "account": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "plan_type": {
                            "type": "string"
                          },
                          "primary_email_address": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "id": {
                            "type": "integer"
                          },
                          "timezone": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "friendly_name": {
                                "type": "string"
                              },
                              "utc_offset": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "name",
                              "friendly_name",
                              "utc_offset"
                            ]
                          }
                        },
                        "required": [
                          "name",
                          "plan_type",
                          "primary_email_address"
                        ]
                      }
                    },
                    "required": [
                      "user",
                      "account"
                    ]
                  },
                  "example": {
                    "user": {
                      "email": "test@convertkit.dev"
                    },
                    "account": {
                      "name": "Kit Greetings",
                      "plan_type": "creator",
                      "primary_email_address": "test@convertkit.dev",
                      "created_at": "2023-02-17T11:43:55Z",
                      "id": 26,
                      "timezone": {
                        "name": "America/New_York",
                        "friendly_name": "Eastern Time (US & Canada)",
                        "utc_offset": "-05:00"
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Returns a 401 if the token and/or account cannot be authenticated",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "errors": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "required": [
                      "errors"
                    ]
                  },
                  "example": {
                    "errors": [
                      "The access token is invalid"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "/v4/account/colors": {
        "get": {
          "summary": "List colors",
          "tags": [
            "Accounts"
          ],
          "security": [
            {
              "OAuth2": []
            },
            {
              "API Key": []
            }
          ],
          "parameters": [
            {
              "name": "Authorization",
              "in": "header",
              "required": true,
              "schema": {
                "type": "string"
              },
              "example": "Bearer YOUR_ACCESS_TOKEN_HERE"
            }
          ],
          "responses": {
            "200": {
              "description": "Returns list of colors for the current account",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "colors": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "required": [
                      "colors"
                    ]
                  },
                  "example": {
                    "colors": [
                      "#008000",
                      "#FF0000"
                    ]
                  }
                }
              }
            },
            "401": {
              "description": "Returns a 401 if the token and/or account cannot be authenticated",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "errors": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "required": [
                      "errors"
                    ]
                  },
                  "example": {
                    "errors": [
                      "The access token is invalid"
                    ]
                  }
                }
              }
            }
          }
        },
        "put": {
          "summary": "Update colors",
          "tags": [
            "Accounts"
          ],
          "security": [
            {
              "OAuth2": []
            },
            {
              "API Key": []
            }
          ],
          "parameters": [
            {
              "name": "Authorization",
              "in": "header",
              "required": true,
              "schema": {
                "type": "string"
              },
              "example": "Bearer YOUR_ACCESS_TOKEN_HERE"
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "colors": {
                      "type": "array",
                      "description": "An array of up to 5 color hex codes",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "colors"
                  ]
                },
                "example": {
                  "colors": [
                    "#000000",
                    "#ffffff"
                  ]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Updates and returns list of colors for the current account",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "colors": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "required": [
                      "colors"
                    ]
                  },
                  "example": {
                    "colors": [
                      "#000000",
                      "#ffffff"
                    ]
                  }
                }
              }
            },
            "401": {
              "description": "Returns a 401 if the token and/or account cannot be authenticated",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "errors": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "required": [
                      "errors"
                    ]
                  },
                  "example": {
                    "errors": [
                      "The access token is invalid"
                    ]
                  }
                }
              }
            },
            "422": {
              "description": "Returns a 422 with an error message when invalid color code is provided",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "errors": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "required": [
                      "errors"
                    ]
                  },
                  "example": {
                    "errors": [
                      "Colors #123_not_a_code is not a valid hex color code."
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "/v4/account/creator_profile": {
        "get": {
          "summary": "Get Creator Profile",
          "tags": [
            "Accounts"
          ],
          "security": [
            {
              "OAuth2": []
            },
            {
              "API Key": []
            }
          ],
          "parameters": [
            {
              "name": "Authorization",
              "in": "header",
              "required": true,
              "schema": {
                "type": "string"
              },
              "example": "Bearer YOUR_ACCESS_TOKEN_HERE"
            }
          ],
          "responses": {
            "200": {
              "description": "Returns Creator Profile details",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "profile": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "byline": {
                            "type": "string"
                          },
                          "bio": {
                            "type": "string"
                          },
                          "image_url": {
                            "type": "string"
                          },
                          "profile_url": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "name",
                          "byline",
                          "bio",
                          "image_url",
                          "profile_url"
                        ]
                      }
                    },
                    "required": [
                      "profile"
                    ]
                  },
                  "example": {
                    "profile": {
                      "name": "A Creator's Journey",
                      "byline": "A Creator",
                      "bio": "Follow my Journey as a Creator",
                      "image_url": "https://convertkit.dev/image.jpg?fit=crop&h=320&w=320",
                      "profile_url": "https://kit-greetings.ck.page/profile"
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Returns a 401 if the token and/or account cannot be authenticated",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "errors": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "required": [
                      "errors"
                    ]
                  },
                  "example": {
                    "errors": [
                      "The access token is invalid"
                    ]
                  }
                }
              }
            },
            "404": {
              "description": "Returns a 404 if the creator profile doesn't exist",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "errors": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "required": [
                      "errors"
                    ]
                  },
                  "example": {
                    "errors": [
                      "Not Found"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "/v4/account/email_stats": {
        "get": {
          "summary": "Get email stats",
          "tags": [
            "Accounts"
          ],
          "security": [
            {
              "OAuth2": []
            },
            {
              "API Key": []
            }
          ],
          "parameters": [
            {
              "name": "Authorization",
              "in": "header",
              "required": true,
              "schema": {
                "type": "string"
              },
              "example": "Bearer YOUR_ACCESS_TOKEN_HERE"
            }
          ],
          "responses": {
            "200": {
              "description": "Returns your email stats for the last 90 days",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "stats": {
                        "type": "object",
                        "properties": {
                          "sent": {
                            "type": "integer"
                          },
                          "clicked": {
                            "type": "integer"
                          },
                          "opened": {
                            "type": "integer"
                          },
                          "email_stats_mode": {
                            "type": "string"
                          },
                          "open_tracking_enabled": {
                            "type": "boolean"
                          },
                          "click_tracking_enabled": {
                            "type": "boolean"
                          },
                          "starting": {
                            "type": "string"
                          },
                          "ending": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "sent",
                          "clicked",
                          "opened",
                          "email_stats_mode",
                          "open_tracking_enabled",
                          "click_tracking_enabled",
                          "starting",
                          "ending"
                        ]
                      }
                    },
                    "required": [
                      "stats"
                    ]
                  },
                  "example": {
                    "stats": {
                      "sent": 6,
                      "clicked": 3,
                      "opened": 6,
                      "email_stats_mode": "last_90",
                      "open_tracking_enabled": true,
                      "click_tracking_enabled": true,
                      "starting": "2022-11-19T11:43:55Z",
                      "ending": "2023-02-17T11:43:55Z"
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Returns a 401 if the token and/or account cannot be authenticated",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "errors": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "required": [
                      "errors"
                    ]
                  },
                  "example": {
                    "errors": [
                      "The access token is invalid"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "/v4/account/growth_stats": {
        "get": {
          "summary": "Get growth stats",
          "description": "Get growth stats for a specific time period. Defaults to last 90 days.<br/><br/>NOTE: We return your stats in your sending time zone. This endpoint does not return timestamps in UTC.",
          "tags": [
            "Accounts"
          ],
          "security": [
            {
              "OAuth2": []
            },
            {
              "API Key": []
            }
          ],
          "parameters": [
            {
              "name": "Authorization",
              "in": "header",
              "required": true,
              "schema": {
                "type": "string"
              },
              "example": "Bearer YOUR_ACCESS_TOKEN_HERE"
            },
            {
              "name": "ending",
              "in": "query",
              "description": "Get stats for time period ending on this date (format yyyy-mm-dd). Defaults to today.",
              "required": false,
              "schema": {
                "type": "string"
              },
              "example": "02/09/2023"
            },
            {
              "name": "starting",
              "in": "query",
              "description": "Get stats for time period beginning on this date (format yyyy-mm-dd). Defaults to 90 days ago.",
              "required": false,
              "schema": {
                "type": "string"
              },
              "example": "02/10/2023"
            }
          ],
          "responses": {
            "200": {
              "description": "Returns your growth stats for the provided starting and ending dates",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "stats": {
                        "type": "object",
                        "properties": {
                          "cancellations": {
                            "type": "integer"
                          },
                          "net_new_subscribers": {
                            "type": "integer"
                          },
                          "new_subscribers": {
                            "type": "integer"
                          },
                          "subscribers": {
                            "type": "integer"
                          },
                          "starting": {
                            "type": "string"
                          },
                          "ending": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "cancellations",
                          "net_new_subscribers",
                          "new_subscribers",
                          "subscribers",
                          "starting",
                          "ending"
                        ]
                      }
                    },
                    "required": [
                      "stats"
                    ]
                  },
                  "example": {
                    "stats": {
                      "cancellations": 0,
                      "net_new_subscribers": 3,
                      "new_subscribers": 3,
                      "subscribers": 3,
                      "starting": "2023-02-10T00:00:00-05:00",
                      "ending": "2023-02-24T23:59:59-05:00"
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Returns a 401 if the token and/or account cannot be authenticated",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "errors": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "required": [
                      "errors"
                    ]
                  },
                  "example": {
                    "errors": [
                      "The access token is invalid"
                    ]
                  }
                }
              }
            },
            "422": {
              "description": "Returns a 422 with an error message if the starting or ending params are misformatted or the range is invalid",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "errors": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "required": [
                      "errors"
                    ]
                  },
                  "example": {
                    "errors": [
                      "Starting date is incorrectly formatted. Use YYYY-MM-DD.",
                      "Ending date is incorrectly formatted. Use YYYY-MM-DD.",
                      "Starting date must be before the ending date."
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "/v4/broadcasts": {
        "get": {
          "summary": "List broadcasts",
          "tags": [
            "Broadcasts"
          ],
          "security": [
            {
              "OAuth2": []
            },
            {
              "API Key": []
            }
          ],
          "parameters": [
            {
              "name": "Authorization",
              "in": "header",
              "required": true,
              "schema": {
                "type": "string"
              },
              "example": "Bearer YOUR_ACCESS_TOKEN_HERE"
            },
            {
              "name": "after",
              "description": "To fetch next page of results, use `?after=<end_cursor>`",
              "in": "query",
              "required": false,
              "schema": {
                "nullable": true
              },
              "example": "WzFd"
            },
            {
              "name": "before",
              "description": "To fetch previous page of results, use `?before=<start_cursor>`",
              "in": "query",
              "required": false,
              "schema": {
                "nullable": true
              },
              "example": "WzNd"
            },
            {
              "name": "include_total_count",
              "description": "To include the total count of records in the response, use `true`. For large collections, expect a slightly slower response.",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "example": "false"
            },
            {
              "name": "per_page",
              "description": "Number of results per page. Default 500, maximum 1000.",
              "in": "query",
              "required": false,
              "schema": {
                "nullable": true
              },
              "example": 10
            }
          ],
          "responses": {
            "200": {
              "description": "Returns a paginated list of all broadcasts for your account (including draft, scheduled, and already sent)",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "broadcasts": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer"
                            },
                            "created_at": {
                              "type": "string"
                            },
                            "subject": {
                              "type": "string"
                            },
                            "description": {
                              "nullable": true
                            },
                            "content": {
                              "nullable": true
                            },
                            "public": {
                              "type": "boolean"
                            },
                            "published_at": {
                              "nullable": true
                            },
                            "send_at": {
                              "nullable": true
                            },
                            "thumbnail_alt": {
                              "nullable": true
                            },
                            "thumbnail_url": {
                              "nullable": true
                            },
                            "email_address": {
                              "nullable": true
                            },
                            "preview_text": {
                              "nullable": true
                            },
                            "email_template": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "integer"
                                },
                                "name": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "id",
                                "name"
                              ]
                            },
                            "subscriber_filter": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "all": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string"
                                        },
                                        "ids": {
                                          "type": "array",
                                          "items": {
                                            "type": "integer"
                                          }
                                        }
                                      },
                                      "required": [
                                        "type"
                                      ]
                                    }
                                  },
                                  "any": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string"
                                        },
                                        "ids": {
                                          "type": "array",
                                          "items": {
                                            "type": "integer"
                                          }
                                        }
                                      },
                                      "required": [
                                        "type",
                                        "ids"
                                      ]
                                    }
                                  },
                                  "none": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string"
                                        },
                                        "ids": {
                                          "type": "array",
                                          "items": {
                                            "type": "integer"
                                          }
                                        }
                                      },
                                      "required": [
                                        "type",
                                        "ids"
                                      ]
                                    }
                                  }
                                },
                                "required": [
                                  "all"
                                ]
                              }
                            },
                            "publication_id": {
                              "type": "integer"
                            },
                            "clicks": {
                              "type": "array",
                              "items": {}
                            },
                            "stats": {
                              "type": "object",
                              "properties": {
                                "recipients": {
                                  "type": "integer"
                                },
                                "open_rate": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "emails_opened": {
                                  "type": "integer"
                                },
                                "click_rate": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "unsubscribe_rate": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "unsubscribes": {
                                  "type": "integer"
                                },
                                "total_clicks": {
                                  "type": "integer"
                                },
                                "show_total_clicks": {
                                  "type": "boolean"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "progress": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "open_tracking_disabled": {
                                  "type": "boolean"
                                },
                                "click_tracking_disabled": {
                                  "type": "boolean"
                                }
                              },
                              "required": [
                                "recipients",
                                "open_rate",
                                "emails_opened",
                                "click_rate",
                                "unsubscribe_rate",
                                "unsubscribes",
                                "total_clicks",
                                "show_total_clicks",
                                "status",
                                "progress",
                                "open_tracking_disabled",
                                "click_tracking_disabled"
                              ]
                            }
                          },
                          "required": [
                            "id",
                            "created_at",
                            "subject",
                            "description",
                            "content",
                            "public",
                            "published_at",
                            "send_at",
                            "thumbnail_alt",
                            "thumbnail_url",
                            "email_address",
                            "email_template",
                            "subscriber_filter"
                          ]
                        }
                      },
                      "pagination": {
                        "type": "object",
                        "properties": {
                          "has_previous_page": {
                            "type": "boolean"
                          },
                          "has_next_page": {
                            "type": "boolean"
                          },
                          "start_cursor": {
                            "nullable": true,
                            "type": "string"
                          },
                          "end_cursor": {
                            "nullable": true,
                            "type": "string"
                          },
                          "per_page": {
                            "type": "integer"
                          }
                        },
                        "required": [
                          "has_previous_page",
                          "has_next_page",
                          "start_cursor",
                          "end_cursor",
                          "per_page"
                        ]
                      }
                    },
                    "required": [
                      "broadcasts",
                      "pagination"
                    ]
                  },
                  "example": {
                    "broadcasts": [
                      {
                        "id": 3,
                        "publication_id": 3,
                        "created_at": "2023-02-17T11:43:55Z",
                        "subject": "Campaign subject 3",
                        "preview_text": null,
                        "description": null,
                        "content": null,
                        "public": false,
                        "published_at": null,
                        "send_at": null,
                        "thumbnail_alt": null,
                        "thumbnail_url": null,
                        "email_address": null,
                        "email_template": {
                          "id": 6,
                          "name": "Text Only"
                        },
                        "subscriber_filter": [
                          {
                            "all": [
                              {
                                "type": "all_subscribers"
                              }
                            ]
                          }
                        ]
                      },
                      {
                        "id": 2,
                        "publication_id": 2,
                        "created_at": "2023-02-17T11:43:55Z",
                        "subject": "Campaign subject 2",
                        "preview_text": null,
                        "description": null,
                        "content": null,
                        "public": false,
                        "published_at": null,
                        "send_at": null,
                        "thumbnail_alt": null,
                        "thumbnail_url": null,
                        "email_address": null,
                        "email_template": {
                          "id": 6,
                          "name": "Text Only"
                        },
                        "subscriber_filter": [
                          {
                            "all": [
                              {
                                "type": "all_subscribers"
                              }
                            ]
                          }
                        ]
                      },
                      {
                        "id": 1,
                        "publication_id": 1,
                        "created_at": "2023-02-17T11:43:55Z",
                        "subject": "Campaign subject 1",
                        "preview_text": null,
                        "description": null,
                        "content": null,
                        "public": false,
                        "published_at": null,
                        "send_at": null,
                        "thumbnail_alt": null,
                        "thumbnail_url": null,
                        "email_address": null,
                        "email_template": {
                          "id": 6,
                          "name": "Text Only"
                        },
                        "subscriber_filter": [
                          {
                            "all": [
                              {
                                "type": "all_subscribers"
                              }
                            ]
                          }
                        ]
                      }
                    ],
                    "pagination": {
                      "has_previous_page": false,
                      "has_next_page": false,
                      "start_cursor": "WzNd",
                      "end_cursor": "WzFd",
                      "per_page": 500
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Returns a 401 if the token and/or account cannot be authenticated",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "errors": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "required": [
                      "errors"
                    ]
                  },
                  "example": {
                    "errors": [
                      "The access token is invalid"
                    ]
                  }
                }
              }
            }
          }
        },
        "post": {
          "summary": "Create a broadcast",
          "description": "Draft or schedule to send a broadcast to all or a subset of your subscribers.<br/><br/>To save a draft, set `send_at` to `null`.<br/><br/>To publish to the web, set `public` to `true`.<br/><br/>To schedule the broadcast for sending, provide a `send_at` timestamp. Scheduled broadcasts should contain a subject and your content, at a minimum.<br/><br/>We currently support targeting your subscribers based on segment or tag ids.<aside class='notice'>Starting point templates are not currently supported.</aside>",
          "tags": [
            "Broadcasts"
          ],
          "security": [
            {
              "OAuth2": []
            },
            {
              "API Key": []
            }
          ],
          "parameters": [
            {
              "name": "Authorization",
              "in": "header",
              "required": true,
              "schema": {
                "type": "string"
              },
              "example": "Bearer YOUR_ACCESS_TOKEN_HERE"
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "email_template_id": {
                      "nullable": true,
                      "type": "integer",
                      "description": "Id of the email template to use. Uses the account's default template if not provided. 'Starting point' template is not supported."
                    },
                    "email_address": {
                      "nullable": true,
                      "type": "string",
                      "description": "The sending email address to use. Uses the account's sending email address if not provided."
                    },
                    "content": {
                      "nullable": true,
                      "type": "string",
                      "description": "The HTML content of the email."
                    },
                    "description": {
                      "nullable": true,
                      "type": "string"
                    },
                    "public": {
                      "nullable": true,
                      "type": "boolean",
                      "description": "`true` to publish this broadcast to the web. The broadcast will appear in a newsletter feed on your Creator Profile and Landing Pages."
                    },
                    "published_at": {
                      "nullable": true,
                      "type": "string",
                      "description": "The published timestamp to display in ISO8601 format. If no timezone is provided, UTC is assumed."
                    },
                    "send_at": {
                      "nullable": true,
                      "type": "string",
                      "description": "The scheduled send time for this broadcast in ISO8601 format. If no timezone is provided, UTC is assumed."
                    },
                    "thumbnail_alt": {
                      "nullable": true,
                      "type": "string"
                    },
                    "thumbnail_url": {
                      "nullable": true,
                      "type": "string"
                    },
                    "preview_text": {
                      "nullable": true,
                      "type": "string"
                    },
                    "subject": {
                      "nullable": true,
                      "type": "string"
                    },
                    "subscriber_filter": {
                      "nullable": true,
                      "description": "Filters your subscribers. At this time, we only support using only one filter group type via the API (e.g. `all`, `any`, or `none` but no combinations). If nothing is provided, will default to all of your subscribers.",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "all": {
                            "description": "Filters your subscribers using a logical AND of all provided segment and tag ids, i.e. a subscriber would have to be part of all segments and tags provided",
                            "nullable": true,
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "`segment` or `tag`"
                                },
                                "ids": {
                                  "type": "array",
                                  "items": {
                                    "type": "integer"
                                  }
                                }
                              },
                              "required": [
                                "type",
                                "ids"
                              ]
                            }
                          },
                          "any": {
                            "description": "Filters your subscribers using a logical OR of all provided segment and tag ids, i.e. a subscriber would have to be part of at least one of the segments or tags provided",
                            "nullable": true,
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "`segment` or `tag`"
                                },
                                "ids": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              },
                              "required": [
                                "type",
                                "ids"
                              ]
                            }
                          },
                          "none": {
                            "description": "Filters your subscribers using a logical NOT of all provided segment and tag ids, i.e. a subscriber would have to be in none of the segments or tags provided",
                            "nullable": true,
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "`segment` or `tag`"
                                },
                                "ids": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              },
                              "required": [
                                "type",
                                "ids"
                              ]
                            }
                          }
                        },
                        "required": [
                          "all",
                          "any",
                          "none"
                        ]
                      }
                    }
                  },
                  "required": [
                    "email_template_id",
                    "email_address",
                    "content",
                    "description",
                    "public",
                    "published_at",
                    "send_at",
                    "thumbnail_alt",
                    "thumbnail_url",
                    "preview_text",
                    "subject",
                    "subscriber_filter"
                  ]
                },
                "example": {
                  "email_template_id": 2,
                  "email_address": null,
                  "content": "<p>Let me introduce myself</p>",
                  "description": "Intro email",
                  "public": true,
                  "published_at": "2023-02-17T11:43:55+00:00",
                  "send_at": null,
                  "thumbnail_alt": null,
                  "thumbnail_url": null,
                  "preview_text": "Pleased to meet you!",
                  "subject": "Hello!",
                  "subscriber_filter": [
                    {
                      "all": [
                        {
                          "type": "segment",
                          "ids": [
                            16
                          ]
                        }
                      ],
                      "any": null,
                      "none": null
                    }
                  ]
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "Creates a new broadcast",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "broadcast": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "subject": {
                            "type": "string"
                          },
                          "preview_text": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "content": {
                            "type": "string"
                          },
                          "public": {
                            "type": "boolean"
                          },
                          "published_at": {
                            "type": "string"
                          },
                          "send_at": {
                            "type": "string",
                            "nullable": true
                          },
                          "thumbnail_alt": {
                            "nullable": true
                          },
                          "thumbnail_url": {
                            "nullable": true
                          },
                          "email_address": {
                            "type": "string"
                          },
                          "email_template": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "name"
                            ]
                          },
                          "subscriber_filter": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "all": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string"
                                      },
                                      "ids": {
                                        "type": "array",
                                        "items": {
                                          "type": "integer"
                                        }
                                      }
                                    },
                                    "required": [
                                      "type",
                                      "ids"
                                    ]
                                  }
                                },
                                "any": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string"
                                      },
                                      "ids": {
                                        "type": "array",
                                        "items": {
                                          "type": "integer"
                                        }
                                      }
                                    },
                                    "required": [
                                      "type",
                                      "ids"
                                    ]
                                  }
                                },
                                "none": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string"
                                      },
                                      "ids": {
                                        "type": "array",
                                        "items": {
                                          "type": "integer"
                                        }
                                      }
                                    },
                                    "required": [
                                      "type",
                                      "ids"
                                    ]
                                  }
                                }
                              },
                              "required": [
                                "all"
                              ]
                            }
                          },
                          "publication_id": {
                            "type": "integer"
                          }
                        },
                        "required": [
                          "id",
                          "created_at",
                          "subject",
                          "preview_text",
                          "description",
                          "content",
                          "public",
                          "published_at",
                          "send_at",
                          "thumbnail_alt",
                          "thumbnail_url",
                          "email_address",
                          "email_template",
                          "subscriber_filter"
                        ]
                      }
                    },
                    "required": [
                      "broadcast"
                    ]
                  },
                  "example": {
                    "broadcast": {
                      "id": 28,
                      "created_at": "2023-02-17T11:43:55Z",
                      "subject": "Hello!",
                      "preview_text": "Pleased to meet you!",
                      "description": "Intro email",
                      "content": "<p>Let me introduce myself</p>",
                      "public": true,
                      "published_at": "2023-02-17T11:43:55Z",
                      "send_at": null,
                      "thumbnail_alt": null,
                      "thumbnail_url": null,
                      "email_address": "greetings@convertkit.dev",
                      "email_template": {
                        "id": 2,
                        "name": "Classic"
                      },
                      "subscriber_filter": [
                        {
                          "all": [
                            {
                              "type": "segment",
                              "ids": [
                                16
                              ]
                            }
                          ]
                        }
                      ],
                      "publication_id": 28
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Returns a 401 if the token and/or account cannot be authenticated",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "errors": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "required": [
                      "errors"
                    ]
                  },
                  "example": {
                    "errors": [
                      "The access token is invalid"
                    ]
                  }
                }
              }
            },
            "403": {
              "description": "Returns a 403 with an error message if the current account is unauthorized to create a broadcast",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "errors": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "required": [
                      "errors"
                    ]
                  },
                  "example": {
                    "errors": [
                      "You do not have sufficient permissions to access this resource. Please contact support."
                    ]
                  }
                }
              }
            },
            "422": {
              "description": "Returns a 422 with an error message when one or more of the parameters were invalid",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "errors": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "required": [
                      "errors"
                    ]
                  },
                  "example": {
                    "errors": [
                      "Email template not found",
                      "Only a single filter group is supported. Use one of `all`, `any`, or `none`."
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "/v4/broadcasts/stats": {
        "get": {
          "summary": "Get stats for a list of broadcasts",
          "description": "NOTE: This endpoint requires either a Pro level plan or developer authorization. <a href=https: //kit.typeform.com/to/YDVqPgNe#endpoint=all_broadcasts_stats_v4>Reach out here to get authorized!</a>",
          "tags": [
            "Broadcasts"
          ],
          "security": [
            {
              "OAuth2": []
            },
            {
              "API Key": []
            }
          ],
          "parameters": [
            {
              "name": "Authorization",
              "in": "header",
              "required": true,
              "schema": {
                "type": "string"
              },
              "example": "Bearer YOUR_ACCESS_TOKEN_HERE"
            }
          ],
          "responses": {
            "200": {
              "description": "Returns stats for all broadcasts on the account",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "broadcasts": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer"
                            },
                            "stats": {
                              "type": "object",
                              "properties": {
                                "recipients": {
                                  "type": "integer"
                                },
                                "open_rate": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "emails_opened": {
                                  "type": "integer"
                                },
                                "click_rate": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "unsubscribe_rate": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "unsubscribes": {
                                  "type": "integer"
                                },
                                "total_clicks": {
                                  "type": "integer"
                                },
                                "show_total_clicks": {
                                  "type": "boolean"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "progress": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "open_tracking_disabled": {
                                  "type": "boolean"
                                },
                                "click_tracking_disabled": {
                                  "type": "boolean"
                                }
                              },
                              "required": [
                                "recipients",
                                "open_rate",
                                "emails_opened",
                                "click_rate",
                                "unsubscribe_rate",
                                "unsubscribes",
                                "total_clicks",
                                "show_total_clicks",
                                "status",
                                "progress",
                                "open_tracking_disabled",
                                "click_tracking_disabled"
                              ]
                            }
                          },
                          "required": [
                            "id",
                            "stats"
                          ]
                        }
                      },
                      "pagination": {
                        "type": "object",
                        "properties": {
                          "has_previous_page": {
                            "type": "boolean"
                          },
                          "has_next_page": {
                            "type": "boolean"
                          },
                          "start_cursor": {
                            "type": "string"
                          },
                          "end_cursor": {
                            "type": "string"
                          },
                          "per_page": {
                            "type": "integer"
                          }
                        },
                        "required": [
                          "has_previous_page",
                          "has_next_page",
                          "start_cursor",
                          "end_cursor",
                          "per_page"
                        ]
                      }
                    },
                    "required": [
                      "broadcasts",
                      "pagination"
                    ]
                  },
                  "example": {
                    "broadcasts": [
                      {
                        "id": 145,
                        "stats": {
                          "recipients": 0,
                          "open_rate": 0.0,
                          "emails_opened": 0,
                          "click_rate": 0.0,
                          "unsubscribe_rate": 0.0,
                          "unsubscribes": 0,
                          "total_clicks": 0,
                          "show_total_clicks": false,
                          "status": "draft",
                          "progress": 0.0,
                          "open_tracking_disabled": false,
                          "click_tracking_disabled": false
                        }
                      },
                      {
                        "id": 144,
                        "stats": {
                          "recipients": 0,
                          "open_rate": 0.0,
                          "emails_opened": 0,
                          "click_rate": 0.0,
                          "unsubscribe_rate": 0.0,
                          "unsubscribes": 0,
                          "total_clicks": 0,
                          "show_total_clicks": false,
                          "status": "draft",
                          "progress": 0.0,
                          "open_tracking_disabled": false,
                          "click_tracking_disabled": false
                        }
                      }
                    ],
                    "pagination": {
                      "has_previous_page": false,
                      "has_next_page": false,
                      "start_cursor": "WzE0NV0=",
                      "end_cursor": "WzE0NF0=",
                      "per_page": 500
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Returns a 401 if the token and/or account cannot be authenticated",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "errors": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "required": [
                      "errors"
                    ]
                  },
                  "example": {
                    "errors": [
                      "The access token is invalid"
                    ]
                  }
                }
              }
            },
            "403": {
              "description": "Returns 403 if the account is not on a pro plan and has the feature flag disabled",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "errors": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "errors"
                    ]
                  },
                  "example": {
                    "errors": "Developer account must be on pro plan or have been approved to use the bulk stats endpoint."
                  }
                }
              }
            }
          }
        }
      },
      "/v4/broadcasts/{broadcast_id}/clicks": {
        "get": {
          "summary": "Get link clicks for a broadcast",
          "description": "NOTE: Pagination parameters control the list of clicks for the top level broadcast.",
          "tags": [
            "Broadcasts"
          ],
          "security": [
            {
              "OAuth2": []
            },
            {
              "API Key": []
            }
          ],
          "parameters": [
            {
              "name": "Authorization",
              "in": "header",
              "required": true,
              "schema": {
                "type": "string"
              },
              "example": "Bearer YOUR_ACCESS_TOKEN_HERE"
            },
            {
              "name": "broadcast_id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "integer"
              },
              "example": 113
            }
          ],
          "responses": {
            "200": {
              "description": "Returns clicks for a broadcast",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "broadcast": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "clicks": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "url": {
                                  "type": "string"
                                },
                                "unique_clicks": {
                                  "type": "integer"
                                },
                                "click_to_delivery_rate": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "click_to_open_rate": {
                                  "type": "number",
                                  "format": "float"
                                }
                              },
                              "required": [
                                "url",
                                "unique_clicks",
                                "click_to_delivery_rate",
                                "click_to_open_rate"
                              ]
                            }
                          }
                        },
                        "required": [
                          "id",
                          "clicks"
                        ]
                      },
                      "pagination": {
                        "type": "object",
                        "properties": {
                          "has_previous_page": {
                            "type": "boolean"
                          },
                          "has_next_page": {
                            "type": "boolean"
                          },
                          "start_cursor": {
                            "type": "string"
                          },
                          "end_cursor": {
                            "type": "string"
                          },
                          "per_page": {
                            "type": "integer"
                          }
                        },
                        "required": [
                          "has_previous_page",
                          "has_next_page",
                          "start_cursor",
                          "end_cursor",
                          "per_page"
                        ]
                      }
                    },
                    "required": [
                      "broadcast",
                      "pagination"
                    ]
                  },
                  "example": {
                    "broadcast": {
                      "id": 111,
                      "clicks": [
                        {
                          "url": "https://example.com/46",
                          "unique_clicks": 3,
                          "click_to_delivery_rate": 0.006,
                          "click_to_open_rate": 0.03
                        },
                        {
                          "url": "https://example.com/47",
                          "unique_clicks": 3,
                          "click_to_delivery_rate": 0.006,
                          "click_to_open_rate": 0.03
                        },
                        {
                          "url": "https://example.com/48",
                          "unique_clicks": 3,
                          "click_to_delivery_rate": 0.006,
                          "click_to_open_rate": 0.03
                        }
                      ]
                    },
                    "pagination": {
                      "has_previous_page": false,
                      "has_next_page": false,
                      "start_cursor": "WzE4XQ==",
                      "end_cursor": "WzE4XQ==",
                      "per_page": 500
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Returns a 401 if the token and/or account cannot be authenticated",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "errors": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "required": [
                      "errors"
                    ]
                  },
                  "example": {
                    "errors": [
                      "The access token is invalid"
                    ]
                  }
                }
              }
            },
            "404": {
              "description": "Returns a 404 when the provided id does not exist",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "errors": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "required": [
                      "errors"
                    ]
                  },
                  "example": {
                    "errors": [
                      "Not Found"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "/v4/broadcasts/{broadcast_id}/stats": {
        "get": {
          "summary": "Get stats for a broadcast",
          "tags": [
            "Broadcasts"
          ],
          "security": [
            {
              "OAuth2": []
            },
            {
              "API Key": []
            }
          ],
          "parameters": [
            {
              "name": "Authorization",
              "in": "header",
              "required": true,
              "schema": {
                "type": "string"
              },
              "example": "Bearer YOUR_ACCESS_TOKEN_HERE"
            },
            {
              "name": "broadcast_id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "integer"
              },
              "example": 164
            }
          ],
          "responses": {
            "200": {
              "description": "Returns stats for a broadcast",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "broadcast": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "stats": {
                            "type": "object",
                            "properties": {
                              "recipients": {
                                "type": "integer"
                              },
                              "open_rate": {
                                "type": "number",
                                "format": "float"
                              },
                              "emails_opened": {
                                "type": "integer"
                              },
                              "click_rate": {
                                "type": "number",
                                "format": "float"
                              },
                              "unsubscribe_rate": {
                                "type": "number",
                                "format": "float"
                              },
                              "unsubscribes": {
                                "type": "integer"
                              },
                              "total_clicks": {
                                "type": "integer"
                              },
                              "show_total_clicks": {
                                "type": "boolean"
                              },
                              "status": {
                                "type": "string"
                              },
                              "progress": {
                                "type": "number",
                                "format": "float"
                              },
                              "open_tracking_disabled": {
                                "type": "boolean"
                              },
                              "click_tracking_disabled": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "recipients",
                              "open_rate",
                              "emails_opened",
                              "click_rate",
                              "unsubscribe_rate",
                              "unsubscribes",
                              "total_clicks",
                              "show_total_clicks",
                              "status",
                              "progress",
                              "open_tracking_disabled",
                              "click_tracking_disabled"
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "stats"
                        ]
                      }
                    },
                    "required": [
                      "broadcast"
                    ]
                  },
                  "example": {
                    "broadcast": {
                      "id": 163,
                      "stats": {
                        "recipients": 0,
                        "open_rate": 0.0,
                        "emails_opened": 0,
                        "click_rate": 0.0,
                        "unsubscribe_rate": 0.0,
                        "unsubscribes": 0,
                        "total_clicks": 0,
                        "show_total_clicks": false,
                        "status": "draft",
                        "progress": 0.0,
                        "open_tracking_disabled": false,
                        "click_tracking_disabled": false
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Returns a 401 if the token and/or account cannot be authenticated",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "errors": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "required": [
                      "errors"
                    ]
                  },
                  "example": {
                    "errors": [
                      "The access token is invalid"
                    ]
                  }
                }
              }
            },
            "404": {
              "description": "Returns a 404 when the provided id does not exist",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "errors": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "required": [
                      "errors"
                    ]
                  },
                  "example": {
                    "errors": [
                      "Not Found"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "/v4/broadcasts/{id}": {
        "delete": {
          "summary": "Delete a broadcast",
          "tags": [
            "Broadcasts"
          ],
          "security": [
            {
              "OAuth2": []
            },
            {
              "API Key": []
            }
          ],
          "parameters": [
            {
              "name": "Authorization",
              "in": "header",
              "required": true,
              "schema": {
                "type": "string"
              },
              "example": "Bearer YOUR_ACCESS_TOKEN_HERE"
            },
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "integer"
              },
              "example": 83
            }
          ],
          "responses": {
            "204": {
              "description": "Deletes the broadcast",
              "content": {
                "": {
                  "schema": {
                    "type": "string"
                  },
                  "example": ""
                }
              }
            },
            "401": {
              "description": "Returns a 401 if the token and/or account cannot be authenticated",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "errors": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "required": [
                      "errors"
                    ]
                  },
                  "example": {
                    "errors": [
                      "The access token is invalid"
                    ]
                  }
                }
              }
            },
            "403": {
              "description": "Returns a 403 with an error message if the current account is unauthorized to update a broadcast",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "errors": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "required": [
                      "errors"
                    ]
                  },
                  "example": {
                    "errors": [
                      "You do not have sufficient permissions to access this resource. Please contact support."
                    ]
                  }
                }
              }
            },
            "404": {
              "description": "Returns a 404 when the provided id does not exist",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "errors": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "required": [
                      "errors"
                    ]
                  },
                  "example": {
                    "errors": [
                      "Not Found"
                    ]
                  }
                }
              }
            },
            "422": {
              "description": "Returns a 422 with an error message if the broadcast has already started sending or already sent",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "errors": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "required": [
                      "errors"
                    ]
                  },
                  "example": {
                    "errors": [
                      "Broadcast is already sending."
                    ]
                  }
                }
              }
            }
          },
          "requestBody": {
            "content": {
              "application/x-www-form-urlencoded": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "example": {}
              }
            }
          }
        },
        "get": {
          "summary": "Get a broadcast",
          "tags": [
            "Broadcasts"
          ],
          "security": [
            {
              "OAuth2": []
            },
            {
              "API Key": []
            }
          ],
          "parameters": [
            {
              "name": "Authorization",
              "in": "header",
              "required": true,
              "schema": {
                "type": "string"
              },
              "example": "Bearer YOUR_ACCESS_TOKEN_HERE"
            },
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "integer"
              },
              "example": 23
            }
          ],
          "responses": {
            "200": {
              "description": "Returns the broadcast details",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "broadcast": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "subject": {
                            "type": "string"
                          },
                          "description": {
                            "nullable": true
                          },
                          "content": {
                            "nullable": true
                          },
                          "public": {
                            "type": "boolean"
                          },
                          "published_at": {
                            "nullable": true
                          },
                          "send_at": {
                            "nullable": true
                          },
                          "thumbnail_alt": {
                            "nullable": true
                          },
                          "thumbnail_url": {
                            "nullable": true
                          },
                          "email_address": {
                            "nullable": true
                          },
                          "preview_text": {
                            "nullable": true
                          },
                          "email_template": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "name"
                            ]
                          },
                          "subscriber_filter": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "all": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string"
                                      },
                                      "ids": {
                                        "type": "array",
                                        "items": {
                                          "type": "integer"
                                        }
                                      }
                                    },
                                    "required": [
                                      "type"
                                    ]
                                  }
                                },
                                "any": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string"
                                      },
                                      "ids": {
                                        "type": "array",
                                        "items": {
                                          "type": "integer"
                                        }
                                      }
                                    },
                                    "required": [
                                      "type",
                                      "ids"
                                    ]
                                  }
                                },
                                "none": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string"
                                      },
                                      "ids": {
                                        "type": "array",
                                        "items": {
                                          "type": "integer"
                                        }
                                      }
                                    },
                                    "required": [
                                      "type",
                                      "ids"
                                    ]
                                  }
                                }
                              },
                              "required": [
                                "all"
                              ]
                            }
                          },
                          "publication_id": {
                            "type": "integer"
                          },
                          "clicks": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "url": {
                                  "type": "string"
                                },
                                "unique_clicks": {
                                  "type": "integer"
                                },
                                "click_to_delivery_rate": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "click_to_open_rate": {
                                  "type": "number",
                                  "format": "float"
                                }
                              },
                              "required": [
                                "url",
                                "unique_clicks",
                                "click_to_delivery_rate",
                                "click_to_open_rate"
                              ]
                            }
                          },
                          "stats": {
                            "type": "object",
                            "properties": {
                              "recipients": {
                                "type": "integer"
                              },
                              "open_rate": {
                                "type": "number",
                                "format": "float"
                              },
                              "emails_opened": {
                                "type": "integer"
                              },
                              "click_rate": {
                                "type": "number",
                                "format": "float"
                              },
                              "unsubscribe_rate": {
                                "type": "number",
                                "format": "float"
                              },
                              "unsubscribes": {
                                "type": "integer"
                              },
                              "total_clicks": {
                                "type": "integer"
                              },
                              "show_total_clicks": {
                                "type": "boolean"
                              },
                              "status": {
                                "type": "string"
                              },
                              "progress": {
                                "type": "number",
                                "format": "float"
                              },
                              "open_tracking_disabled": {
                                "type": "boolean"
                              },
[...]
